<div class="container pt-5 p-4" id="footer">
  <p class="text-start thinfont">Vendemos ropa, no lifestyle: no tenemos una newsletter y no queremos que estéis todo el rato pendientes a nuestra película (ni al móvil). <br><br> Dicho esto, si aún así vais a consumir contenido, nosotros le ponemos mucho cariño:</p><br>
  <div class="container w-100 p-0 d-flex justify-content-between align-content-center">
    <h3 class="w-100 p-0  text-start pe-1 mb-0 align-self-center">Redes sociales</h3>
    <div class="container w-75 p-0 d-flex justify-content-between g-0">
    <a href=""><img src="assets/redes/ig.png" alt=""></a>
    <a href=""><img src="assets/redes/yt.png" alt=""></a>
    <a href=""><img src="assets/redes/tt.png" alt=""></a>
    </div>
    </div>
    <hr/><br>
    <div>
      <a href="" class="p-0 thinfont">Términos y condiciones</a><span> - </span>
      <a href="" class="p-0 thinfont">Política de privacidad</a><span> - </span>
      <a href="" class="p-0 thinfont" >Política de cookies</a>
    </div>
    <br><br>
    <p>2020 Orbain / Orbain Kirola</p>

  </div>