<div class="container pt-5 p-4" id="footer">
  <p class="text-start thinfont fs-5">Vendemos ropa, no lifestyle: no tenemos una newsletter y no queremos que estéis todo el rato pendientes a nuestra película (ni al móvil). <br><br> Dicho esto, si aún así vais a consumir contenido, nosotros le ponemos mucho cariño:</p><br>
  <div class="container col-8 p-0 d-flex justify-content-between align-content-center">
    <h3 class="w-100 p-0  text-start pe-1 mb-0 align-self-center">Redes sociales</h3>
    <div class="container col-8p-0 d-flex justify-content-around ">
    
       <a href="https://www.instagram.com/orbainnn/" ><img src="assets/redes/ig.png" alt="" class="col-xl-3"></a>
       <a href="https://www.youtube.com/@mentxaka11scoters"><img src="assets/redes/yt.png" alt="" class="col-xl-3"></a>
       <a href="https://www.tiktok.com/@orbainnn"><img src="assets/redes/tt.png" alt="" class="col-xl-3 "></a>
    </div>
    </div>
    <hr/>
    <div>
      <a href="" class="p-0 thinfont fs-4">Términos y condiciones</a><span> - </span>
      <a href="" class="p-0 thinfont fs-4">Política de privacidad</a><span> - </span>
      <a href="" class="p-0 thinfont fs-4" >Política de cookies</a>
    </div>
    <br>
    <p class="fs-5">2020 Orbain / Orbain Kirola</p>

  </div>