*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.thinfont{
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.boldfont{
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


body {
  margin: 0;

  background-color: #000;
}

header {
  justify-self: center;
  position: absolute;
  margin-top: 1em;
  text-align: center;
  color: white;
  z-index: 9999;
  
}

header h1 {

  font-weight: 600;
  
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  
}

#threefoot{
  color: white;
  position: absolute;
  bottom: 2em;
  
  height: 15vh;
  justify-self: center;
}